<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <!-- [if lt IE 9]><script src="js/html5.js"></script><![endif] -->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/jquery.tiles.js"></script>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/jquery.tiles.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/wheel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
	<link rel="stylesheet" type="text/css" href="/static/css/personalCenter.css">
  </head>
    <body>
        <script>
            window.onload=function(){
                var i=document.getElementsByTagName('input').length;
                for(var n=0;n<i;n++){
                    if(document.getElementsByTagName('input')[n].className!="sign-up-btn"){
                        document.getElementsByTagName('input')[n].value='';
                    }
                }
                var check=document.getElementsByClassName("check");
                for(var x=0;x<check.length;x++){
                    check[x].style.opacity="0";
                }
            }
        </script>
        <div class="Top-bar">
            <div class="top-icon"><img src="/static/images/LOGO2.png" alt="实验室图标"></div>
            <div class="LabSlogan">
                
                <span> 遇到问题立即沟通 !<br></span>
                <span class="secondslo"> 我是最后负责人 !</span>
            </div>
            <div class="enter">
            	<div class="person">
            		<a href="/myaccount/">
            	    	<img src="/static/images/23.jpg" alt="用户头像">
            	    </a>
                    <div><span class="drop-menu" id="drop-menu">
                        <a href="/myaccount/">
                            个人中心
                        </a>
                    </span>
                    <span class="drop-menu" id="drop-menu">
                        <a href="/index/logout/">
                            注销
                        </a>
                    </span>
                    </div>
            	    
            	</div>
            </div>
        </div>
        <!-- 导航栏 -->
        <nav role="navigation">
            <div class="region region-navigation">
                <ul class="navbar-menu">
                    <li class="first-leaf thisleaf"><a href="/index/" data-target="#" class="dropdown-toggle" data-toggle="dropdown">首 &nbsp;页</a>
                    </li>
                    <li class="dropdown">项目组 <span class="caret"></span>
                        <ul class="dropdown-menu pull-right">

                        {% for team in teams %}
                            <li class="dropdownmenu"><a href="/teams/major={{ team.ShortName }}/">{{ team.TeamName }} </a></li>
                        {% endfor %}
                        {% if perms.RedAnt.add_projectteam %}
                             <li class="lastmenuli"><a href="/teams/operating=new/">添加项目组</a></li>
                         {% endif %}

                        </ul>
                    </li>
                    <li class="dropdown"><a href="/course/" data-target="#" class="dropdown-toggle" data-toggle="dropdown">课程展示 <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right">
                            <li class="dropdownmenu"><a href="/courses/major=cptCp/">计算机组成原理</a></li>
                            <li class="dropdownmenu"><a href="/courses/major=cptNw/">计算机网络</a></li>
                            <li class="lastmenuli"><a href="#">添加课程</a></li>
                        </ul>
                    </li>
                    <li class="leaf"><a href="#" >论 &nbsp;坛 </a>
                    </li>
                    <li class="leaf"><a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">联系我们 </a>
                    </li>
                   {% if perms.auth.change_user %}
                <li class="last leaf"><a href="/manage/"  target="_blank">用户管理 </a></li>
                   {% endif %}
                </ul>
            </div>
        </nav>
        <!-- 轮播图片 -->
        <div id="wheel-container" class="wheel-container">
            <div id="wheel" class="wheel">
                <div id="photo" class="photo">
                    <div id="pre" class="pre">
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <img src="/static/images/8.jpg" alt="轮播图片">
                    <img src="/static/images/9.jpg" alt="轮播图片">
                    <img src="/static/images/10.jpg" alt="轮播图片">
                    <div id="after" class="after">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div id="wheel-spot" class="wheel-spot">
                    <div class="spot active-spot"></div>
                    <div class="spot"></div>
                    <div class="spot"></div>
                </div>
            </div>
        </div>
        <div class="limit">
        <!-- Course -->
        <div class="course">
            <!-- <h2>Course</h2> -->
            <div class="intr">
                <a href="#"><img src="/static/images/4.jpg"></a>
                <span class="title">Course</span><br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
            </div>
            <div class="news">
                <ul class="news-list">
                    <li>
                        <span class="news-title">news</span>
                        <span class="num">0</span>
                    </li>
                    <li>
                        <span class="news-title">news</span>
                        <span class="num">0</span>
                    </li>
                    <li>
                        <span class="news-title">news</span>
                        <span class="num">0</span>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <!-- Project -->
        <div class="project">
            <div class="intr">
                <div class="side-fixed">
                    <div class="intr-project">
                        <span>introduct</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                    </div>
                </div>
                <div class="img-group">
                    <div class="proimg" id="proimg">
                        <div>
                            <img src="/static/images/11.jpg">
                            <div class="back-img-hover" id="back-img-hove">
                                <div  class="hover-eff">
                                    <h2>Creative <span>Zoe</span></h2>
                                    <span class="icon-heart fa fa-heart"></span>
                                    <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                                    <a href="#">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="proimg" id="proimg">
                        <div>
                            <img src="/static/images/p1(2).jpg">
                            <div class="back-img-hover" id="back-img-hove">
                                <div  class="hover-eff">
                                    <h2>Creative <span>Zoe</span></h2>
                                    <span class="icon-heart fa fa-heart"></span>
                                    <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                                    <a href="#">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="proimg" id="proimg">
                        <div>
                            <img src="/static/images/p1(12).jpg">
                            <div class="back-img-hover back-img-hover-3" id="back-img-hove">
                                <div  class="hover-eff">
                                    <h2>Creative <span>Zoe</span></h2>
                                    <span class="icon-heart fa fa-heart"></span>
                                    <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                                    <a href="#">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="proimg" id="proimg">
                        <div>
                            <img src="/static/images/3.jpg">
                            <div class="back-img-hover back-img-hover-4" id="back-img-hove">
                                <div  class="hover-eff">
                                    <h2>Creative <span>Zoe</span></h2>
                                    <span class="icon-heart fa fa-heart"></span>
                                    <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                                    <a href="#">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news">
                <ul class="news-list">
                    <li>
                        <span class="news-title">news</span>
                        <span class="num">0</span>
                    </li>
                    <li>
                        <span class="news-title">news</span>
                        <span class="num">0</span>
                    </li>
                    <li>
                        <span class="news-title">news</span>
                        <span class="num">0</span>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        </div>
        </div>
        <div class="contact">
            <div class="title-contact">Contact Us</div>
            <div class="line-con"><div class="line"></div></div>
            <div class="intr-contact">
                <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</span>
                </p>
            </div>
            <div id="u189" class="ax_default primary_button" data-label="send">
                <div id="u190" class="text" style="visibility: visible;">
                  <p><span>SEND US A MESSAGE</span></p>
                </div>
            </div>
            <div id="u193" class="ax_default ax_default_hidden contact-hidden" data-label="contact " style="display: none; visibility: hidden;">
                <div class="input-container">
                    <div id="u196" class="ax_default text_field">
                        <input id="u196_input" type="text" placeholder="&nbsp;Your name."/>
                    </div>
                    <div id="u197" class="ax_default text_field">
                        <input id="u197_input" type="text" placeholder="&nbsp;Youemail..."/>
                    </div>
                    <div id="u198" class="ax_default text_field">
                        <textarea id="u198_input" class="text-3" type="text" placeholder="The massage send to us"></textarea>
                    </div>
                    <div id="u199" class="ax_default primary_button send2" data-label="send2">
                        <div id="u199_div" class=""></div>
                        <div id="u200" class="text">
                            <p><span>Send</span></p>
                        </div>
                    </div>
                </div>
                <div id="u201" class="ax_default ax_default_hidden close" data-label="close">
                    <div id="u204" class="ax_default contact-icon primary_button">
                        <img id="u204_img" class="img" src="/static/images/u204.png"/>
                    </div>
                </div>
            </div>
            <div class="hidden-tip" style="visibility: hidden;display: none;">
                <div> 已发送！</div>
            </div>
        </div>
    <script type="text/javascript" src="/static/js/signIn.js"></script>
    <script type="text/javascript" src="/static/js/contact.js"></script>
    <script type="text/javascript" src="/static/js/wheel.js"></script>
    <script type="text/javascript" src="/static/js/news.js"></script>
        <footer>@大连理工大学红蚂蚁实验室</footer>
    </body>
</html>