<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{ team.TeamName }}</title>

<link rel="alternate" type="application/rss+xml" title="" href="/index/">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet" type="text/css">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" type="text/css" href="/static/css/projectTeamIndex.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->

<link rel="stylesheet" href="/static/css/essaystyle.css">
<!--<link rel="stylesheet" href="/static/WebTeam/css/xiangmuzu/base.css">-->
<link rel="stylesheet" href="/static/css/projectTeamIndex.css">
<!-- <link rel="stylesheet" href="/static/WebTeam/css/xiangmuzu/bootstrap.min.css"> 
 -->
<link rel="stylesheet" href="/static/css/animate.css">
<link rel="stylesheet" href="/static/css/jindutiao.css">
<link rel="stylesheet" href="/static/css/liebiao.css">

<!--<link rel="stylesheet" type="text/css" href="/static/css/home1com.css">-->
<link rel="stylesheet" type="text/css" href="/static/css/nav.css">
<link rel="stylesheet" href="/static/css/jquery.tiles.min.css">
<link rel="stylesheet" href="/static/css/normalize.css">
<script src="/static/js/jquery.tiles.js"></script>
<script src="/static/js/jquery-1.8.3.min.js"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/static/css/personalCenter.css">
</head>
<body>
    <!-- <script>
            window.onload=function(){
                var i=document.getElementsByTagName('input').length;
                for(var n=0;n<i;n++){
                    if(document.getElementsByTagName('input')[n].className!="sign-up-btn"){
                        document.getElementsByTagName('input')[n].value='';
                    }
                }
                var check=document.getElementsByClassName("check");
                for(var x=0;x<check.length;x++){
                    check[x].style.opacity="0";
                }
            }
        </script> -->
        <div class="Top-bar">
            <div class="top-icon"><img src="/static/images/LOGO2.png" alt="实验室图标"></div>
            <div class="LabSlogan">
                
                <span> 遇到问题立即沟通 !<br></span>
                <span class="secondslo"> 我是最后负责人 !</span>
            </div>
            <div class="enter">
              <div class="person">
                <a href="/myaccount/">
                    <img src="/static/images/23.jpg" alt="用户头像">
                  </a>
                    <span class="drop-menu" id="drop-menu">
                        <a href="/myaccount/">
                            个人中心
                        </a>
                    </span>
                    <span class="drop-menu" id="drop-menu">
                        <a href="/index/logout/">
                            注销
                        </a>
                    </span>
              </div>
            </div>
        </div>
        <!-- 导航栏 -->
       <nav role="navigation">
            <div class="region region-navigation">
                <ul class="navbar-menu">
                    <li class="first-leaf thisleaf"><a href="/index/" data-target="#" class="dropdown-toggle" data-toggle="dropdown">首 &nbsp;页</a>
                    </li>
                    <li class="dropdown">项目组 <span class="caret"></span>
                        <ul class="dropdown-menu pull-right">

                        {% for team in teams %}
                            <li class="dropdownmenu"><a href="/teams/major={{ team.ShortName }}/">{{ team.TeamName }} </a></li>
                        {% endfor %}
                        {% if perms.RedAnt.add_projectteam %}
                             <li class="lastmenuli"><a href="/teams/operating=new/">添加项目组</a></li>
                         {% endif %}

                        </ul>
                    </li>
                    <li class="dropdown"><a href="/course/" data-target="#" class="dropdown-toggle" data-toggle="dropdown">课程展示 <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right">
                            <li class="dropdownmenu"><a href="/courses/major=cptCp/">计算机组成原理</a></li>
                            <li class="dropdownmenu"><a href="/courses/major=cptNw/">计算机网络</a></li>
                            <li class="lastmenuli"><a href="#">添加课程</a></li>
                        </ul>
                    </li>
                    <li class="leaf"><a href="/forum/" >论 &nbsp;坛 </a>
                    </li>
                    <li class="leaf"><a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">联系我们 </a>
                    </li>
                   {% if perms.auth.change_user %}
                <li class="last leaf"><a href="/manage/"  target="_blank">用户管理 </a></li>
                   {% endif %}
                </ul>
            </div>
        </nav>
    
<div class="wrapper">
<section>
    
  <div class="container">
  <!--侧边页面内导航栏-->
    <ul class="docs-nav">
      <li><h3>{{ team.Name }}</h3></li>
      <li><a href="#1" class="cc-active">项目组简介</a></li>
        
      <li><a href="#3" class="cc-active">项目组日志</a></li>
        {% if perms.RedAnt.add_blog %}
            {% if user.first_name == team.TeamName or user.is_superuser %}
                 <li><a href="#4" class="cc-active">新建日志</a></li>
            {% endif %}
        {% endif %}
      <li><a href="#5" class="cc-active">学习资源</a></li>
      <li class="separator"></li>
    </ul>
    <div class="docs-content">
      <div class="introduce">
      <h3 id="1"> {{ team.TeamName }} </h3>
      {% if perms.RedAnt.delete_projectteam %}
        <button onclick="window.location.href='delete/'" class="edit"><i class="fa fa-trash"></i>删除</button>
      {% endif %}
      <br>
      <p>
          {% autoescape off %}
              {{ team.Introduction }}
          {% endautoescape %}
      </p>
    {% if user.first_name == team.TeamName or user.is_superuser %}
        {% if perms.RedAnt.change_projectteam %}
            <button onclick="window.location.href='edit/'" class="edit"><i class="fa fa-pencil"></i>编辑</button>
        {% endif %}
    {% endif %}

    </div>

      <hr>
     
      <h3 id="3">日志</h3>
      <ul class="cbp_tmtimeline">
           {% for blog in blogs %}
           <li>
            <time class="cbp_tmtime" ><span id="11.8"><td>{{ blog.modify_time|date:"m-d" }}</td></span> <span><td>{{ blog.modify_time|date:"Y" }}</td></span></time>
            <div class="cbp_tmlabel">
            <div style="width:100%">
              <div id="article" class="article">
                 <h4>{{ blog.Name }}</h4>
                 <span class="blogpic"><img src="{{ blog.ImagePath }}"></span><p id="content">
                    {% autoescape off %}
                        {{ blog.Content }}
                    {% endautoescape %}
                </p>
              </div>
              <button class="unfold foldbutton"><i class="fa fa-angle-double-down"></i> 展开</button>
              <button class="fold foldbutton"><i class="fa fa-angle-double-up"></i> 收起</button>
            </div>
            {% if user.first_name == team.TeamName or user.is_superuser %}
                {% if perms.RedAnt.delete_blog %}
                    <button onclick="window.location.href='delete/article={{ blog.id }}/'" class="edit"><i class="fa fa-trash"></i>删除</button>
                {% endif %}
                {% if perms.RedAnt.change_blog %}
                    <button onclick="window.location.href='article={{ blog.id }}/'" class="edit"><i class="fa fa-pencil"></i>编辑</button>
                {% endif %}
            {% endif %}

              
            </div>
            </li>
          {% endfor %}

      </ul>
      <hr>
    {% if perms.RedAnt.add_blog  %}
        {% if user.first_name == team.TeamName or user.is_superuser %}
      <h3 id="4">新建日志</h3>
      <button onclick="window.location.href='article=new/'" class="edit"><i class="fa fa-pencil"></i>新建</button>
        {% endif %}
    {% endif %}
      <hr>

      <h3 id="5">学习资源</h3>
      <ol class="rectangle-list">
         {% for resourse in resourseList %}
            <li><a href="/media/{{ resourse.fileField }}">{{ resourse.name }}</a>
            {% if user.first_name == team.TeamName or user.is_superuser  %}
                <button onclick="window.location.href='delete/resource={{ resourse.fileField }}/'" class="edit"><i class="fa fa-trash"></i>删除</button></li>
            {% endif %}
         {% endfor %}
      </ol>
    {% if user.first_name == team.TeamName or user.is_superuser %}
         <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ fileForm }}
        <input type="submit" value="上传"/>
        </form>
    {% endif %}
    </div>
    <a href="#" class="backTop">返回顶部</a>
  </div>
  
</section>
</div>
<footer>
  <div class="">
  <hr>
    <p> Copyright 红蚂蚁实验室</p>
  <hr>
  </div>
</footer>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/prettify.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/layout.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript">
//文章多出部分隐藏，点击展开显示
  var unfolds = document.getElementsByClassName("unfold");
  var folds=document.getElementsByClassName("fold");
  var objs = document.getElementsByClassName("article");
  var show_height =150;
  i=0;

  for ( i=0; i<objs.length; i++) 
  {
    unfolds[i].index=i;
    folds[i].index=i;
    if(objs[i].scrollHeight>show_height){
      unfolds[i].style.display = 'block';   
    }       
    else{
      unfolds[i].style.display='none';
    }
    unfolds[i].onclick = function(){//加载页面的时候没有onclick，加载完成后再点击的话i就是循环结束后的i了
      console.log(this.index);      //点一下输出1
      objs[this.index].style.height = 'auto';
      unfolds[this.index].style.display = 'none';
      folds[this.index].style.display= 'block';
    }
    folds[i].onclick=function(){
      objs[this.index].style.height=show_height +'px';
      unfolds[this.index].style.display='block';
      folds[this.index].style.display='none';
    }
  }
  if (objs.length==0) {

  }
</script>
<script type="text/javascript">
        var editor=document.getElementById("id_Content")
        editor.style.display='block';
        editor.style.width='100%'
 </script>
</body>
</html>
