<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <!-- [if lt IE 9]><script src="js/html5.js"></script><![endif] -->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/jquery.tiles.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/alertModel.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/jquery.tiles.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/wheel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
  </head>
    <body>
        <script>
            window.onload=function(){
                var i=document.getElementsByTagName('input').length;
                var input=$("#model .model-body input");
                var i=input.length;
                for(var n=0;n<i-1;n++){
                    input[n].value='';
                    $("#model .model-body i").css("opacity","0");
                }
            }
        </script>
        <div class="Top-bar">
            <div class="top-icon"><img src="/static/images/LOGO2.png" alt="实验室图标"></div>
            <div class="LabSlogan">
                <span> 遇到问题立即沟通 !<br></span>
                <span class="secondslo"> 我是最后负责人 !</span>
            </div>
            <div class="enter">
                <span class="spe-enlight"><a href="javascript:void(0)" id="sign-btn">登 录</a></span>
                <span> / </span>
                <span class="spe-enlight"><a href="/index/sign_up/">注 册</a></span>
            </div>
        </div>
        <div class="model-hide" style="display: none;" id="model">
            <div class="model-container">
                <div class="model-head">
                    <span class="model-title">登 录</span>
                    <i class="fa fa-close"></i>
                </div>
                <div class="model-body">
                    <div class="sign-in">
                        <form id="sign-in">
                            <div class="body-line">
                                <label for="mail">邮 箱 : </label>
                                <input id="mail" class="input1" type="text" placeholder="请输入登录邮箱" onchange="checkMail(this)"  autocomplete="close"/>
                                <!-- <i class="check fa fa-close" id="check-mail"></i> -->
                            </div>
                            <div class="body-line">
                                <label for="psw">密 码 : </label>
                                <input id="psw" class="input2" type="password" placeholder="请输入登录密码" onchange="checkPsw(this)" autocomplete="close" />
                                <!-- <i class="check fa fa-check" id="check-psw"></i> -->
                            </div>
                            <input type="submit" name="submit" value="登 录" id="login">
                        </form>
                    </div>
                </div>
                <div class="model-end">
                    <a href="#">忘记密码？</a>
                </div>
            </div>
        </div>
        <!-- 轮播图片 -->
        <div id="wheel-container" class="wheel-container">
            <div class="bac-lim">
            <div id="wheel" class="wheel">
                <div id="photo" class="photo">
                    <div id="pre" class="pre">
                        <i class="fa fa-angle-left"></i>
                    </div>
                    {% for poster in posters %}
                        <img src=/media/{{ poster.fileField }} alt="轮播图片">
                    {% endfor %}
                    <div id="after" class="after">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div id="wheel-spot" class="wheel-spot">
                    {% for poster in posters %}
                        <div class="spot"></div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
        <div class="limit">
        <!-- Project -->
        <div class="project">
            <div class="intr">
                <div class="side-fixed">
                    <div class="intr-project">
                        <span>{{ introduction.Name }}</span>
                        <p>
                            {% autoescape off %}
                                {{ introduction.Content }}
                            {% endautoescape %}
                        </p>
                    </div>
                </div>
                <div class="img-group">
                    {% for team in teams %}
                        <div class="proimg" id="proimg">
                            <div>
                                <img src=/media/{{ team.GroupPhoto }}>
                                <div class="back-img-hover" id="back-img-hove">
                                    <div  class="hover-eff">
                                        <h2>{{ team.TeamName }}</h2>
                                        <p>
                                            {% autoescape off %}
                                                {{ team.Introduction }}
                                            {% endautoescape %}
                                         </p>
                                        <a href="/teams/major={{ team.ShortName }}/">了解更多</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="clear"></div>
        </div>
        </div>
        </div>
        <div class="contact">
            <div class="title-contact">联系我们</div>
            <div class="line-con"><div class="line"></div></div>
            <div class="intr-contact">
                <p>
                {% autoescape off %}
                        <span class="edit-target">{{ contact.Content }}</span>
                {% endautoescape %}
                </p>
            </div>
            <div id="u189" class="ax_default primary_button">
                <div id="u190" class="text" style="visibility: visible;">
                  <p id="contactUs"><span>给我们发邮件</span></p>
                </div>
            </div>
            <div class="model-hide model-email" id="model-email">
                <div class="model-container">
                    <div class="model-head">
                        <span class="model-title">发邮件</span>
                        <i class="fa fa-close"></i>
                    </div>
                    <div class="model-body">
                        <div class="send-email">
                            <form id="send-email">
                                <div class="body-line">
                                    <label for="from-mail">* 留下你的邮箱: </label>
                                    <input id="from-mail" type="text" placeholder="实验室的回信将会发到这个邮箱" onchange="checkFromMail(this)" />
                                    <i class="check fa" id="check-from-mail"></i>
                                </div>
                                <div class="body-line">
                                    <label for="from-name">发件人姓名: </label>
                                    <input id="from-name" type="text" placeholder="填写你的真实姓名"/>
                                    <!-- <i class="check fa fa-check" id="check-psw"></i> -->
                                </div>
                                <div class="body-line">
                                    <label for="from-content">* 你想说的话: </label>
                                    <textarea id="from-content" type="text" placeholder="写下你的疑问或心声！"/></textarea>
                                    <!-- <i class="check fa fa-check" id="check-psw"></i> -->
                                </div>
                                <input type="submit" name="send" value="发 送" id="send">
                            </form>
                        </div>
                    </div>
                <!-- <div class="model-end">
                    <a href="#">忘记密码？</a>
                </div> -->
            </div>
        </div>
        </div>
        <div class="model-alertInfo" id="model-alertInfo">
            <div class="model-container">
                <div class="model-head">
                    <span class="model-title">联系我们</span>
                    <i class="fa fa-close"></i>
                </div>
                <div class="model-body">
                    <h3 class="message"></h3>
                </div>
                <div class="model-end">
                    <div class="btn get">确 认</div>
                    <!-- <div class="btn shut">关 闭</div> -->
                </div>
            </div>
        </div>
    <script type="text/javascript" src="/static/js/signIn.js"></script>
    <script type="text/javascript" src="/static/js/contact.js"></script>
    <script type="text/javascript" src="/static/js/wheel.js"></script>
    <script type="text/javascript" src="/static/js/news.js"></script>
    <script type="text/javascript" src="/static/js/alertModel.js"></script>
        <footer>@大连理工大学红蚂蚁实验室</footer>
    </body>
</html>