/*导航栏*/
:root{
	--nav-backcolor: white;
	/* --hover-fontcolor: #2A8FBD; */
}
nav{
	margin: 0;
	padding: 0 10%;
	font-size: 1.6rem;
	font-weight: 600;
	background-color: var(--nav-backcolor);
	opacity: 1;
	z-index: 100;
	position: relative;
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
}
ul.navbar-menu{
	width: 100%;
	margin: 0;
	height: 5rem;
	display: flex;
	padding: 0;
	justify-content: space-between;
}
ul.navbar-menu>li{
	max-width: 8rem;
	height: auto;
	list-style: none;
	text-align: center;
	margin: 0 1rem;
	vertical-align: middle;
	line-height: 5rem;
	z-index: 100;
	display:block;/*这个比较关键，因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/
}
ul.navbar-menu .dropdown-menu{
	height: 0;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: auto;
	display:block;
/*   transition: height 3s ease; */
  z-index: 100;
	float: left;
	position: relative;
}
ul.navbar-menu .dropdown:hover .dropdown-menu{
	height: auto;
}
ul.navbar-menu li a{
	text-decoration: none;
	color: black;
	font-weight: 595;
	width: 100%;
	display: inline-block;
/* 	white-space: nowrap; */
}
ul.navbar-menu li a:hover{
	color: var(--hover-fontcolor);
	font-weight: 600;
}
.dropdown:hover .dropdown-menu{
	overflow: visible;
}
ul.dropdown-menu li{
	position:relative;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	margin: 0;
	right: auto;
	left: -5%;
	transform: translate(-50%,0);
	display: block;
	background-color: var(--nav-backcolor);
/*transition: background-color 0.8s ease; */
	padding: 0rem 2rem;
	white-space: nowrap;
}
ul.dropdown-menu li:hover{
	background-color: #DCDCDC;
}
/* ul.dropdown-menu li.lastmenuli{
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 0.2rem 1.5px #CDC9C9;
} */
ul.dropdown-menu li:last-child{
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 0.1rem 1px #CDC9C9;
}
.caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown:hover .caret{
    border-bottom: 4px dashed;
    border-top: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    vertical-align: middle;
}
/*.thisleaf {
	display: block;
	height: 3.2rem !important;
	border-bottom: 6px solid orange;
}*/