<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
{{ user }}
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
<p>Welcome, new user. Please log in.</p>
{% endif %}

{% if perms.RedAnt %}
    <p>You have permission to do something in the RedAnt app.</p>
    {% if perms.RedAnt.add_blog %}
        <p>You can add blog!</p>
    {% endif %}
    {% if perms.RedAnt.change_blog %}
        <p>You can change blog!</p>
    {% endif %}
{% else %}
    <p>You don't have permission to do anything in the RedAnt app.</p>
{% endif %}
</body>
</html>