<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <!-- [if lt IE 9]><script src="js/html5.js"></script><![endif] -->
    <script src="/static/CourseShow/js/jquery-1.8.3.min.js"></script>
    <script src="/static/CourseShow/js/jquery.tiles.js"></script>
    <link rel="stylesheet" href="/static/CourseShow/css/normalize.css">
    <link rel="stylesheet" href="/static/CourseShow/css/jquery.tiles.min.css">
    <link rel="stylesheet" type="text/css" href="/static/CourseShow/css/home1com.css">
    <link rel="stylesheet" type="text/css" href="/static/CourseShow/css/wheel1.css">

    <!--videojs-->
     <link href="/static/CourseShow/css/video-js.css" rel="stylesheet">
    <script src="/static/CourseShow/js/videojs-ie8.min.js"></script>
    <script src="/static/CourseShow/js/video.min.js"></script>


  </head>
    <body>
        <script>
            window.onload=function(){
                var i=document.getElementsByTagName('input').length;
                for(var n=0;n<i;n++){
                    if(document.getElementsByTagName('input')[n].className!="sign-up-btn"){
                        document.getElementsByTagName('input')[n].value='';
                    }
                }
                var check=document.getElementsByClassName("check");
                for(var x=0;x<check.length;x++){
                    check[x].style.opacity="0";
                }
            }
        </script>
        <div class="Top-bar">
            <div class="top-icon"><img src="/static/CourseShow/images/LOGO2.png" alt="实验室图标"></div>
            <div class="LabSlogan">
                <p>Our Lab :</p>
                <span> 遇到问题立即沟通 !<br></span>
                <span class="secondslo"> 我是最后负责人 !</span>
            </div>
            <div class="enter">
               <span class="spe-enlight">欢迎您，</span>
                <span> {{ name }} </span>
                <span class="spe-enlight"><a href="/index/logout/">注销</a></span>
            </div>
        </div>
        <!-- 导航栏 -->
        <nav role="navigation">
            <div class="region region-navigation">
                <ul class="navbar-menu">
                    <li class="first-leaf leaf"><a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">首 &nbsp;页</a>
                    </li>
                    <li class="dropdown"><a href="#" title="Button">项目组 <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/webTeam/">网站组 </a></li>
                            <li class="lastmenuli"><a href="#">BBB </a></li>
                        </ul>
                    </li>
                    <li class="dropdown thisleaf"><a href="/course/" data-target="#" class="dropdown-toggle" data-toggle="dropdown">课程展示 <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">AAA</a></li>
                            <li><a href="#">BBB</a></li>
                            <li class="lastmenuli"><a href="#">CCC</a></li>
                        </ul>
                    </li>
                    <li class="leaf"><a href="#" title="Button">论 &nbsp;坛 </a>
                    </li>
                    <li class="leaf"><a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">联系我们 </a>
                    </li>
                <li class="last leaf"><a href="#" title="Button" target="_blank">用户管理 </a></li>
                </ul>
            </div>
        </nav>
        <!-- 轮播图片 -->
        <div id="wheel-container" class="wheel-container">
            <div id="wheel" class="wheel">
                <div id="photo" class="photo">
                    <div id="pre" class="pre">
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <img src="/static/CourseShow/images/8.jpg" alt="轮播图片">
                    <img src="/static/CourseShow/images/9.jpg" alt="轮播图片">
                    <img src="/static/CourseShow/images/10.jpg" alt="轮播图片">
                    <div id="after" class="after">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div id="wheel-spot" class="wheel-spot">
                    <div class="spot active-spot"></div>
                    <div class="spot"></div>
                    <div class="spot"></div>
                </div>
            </div>
        </div>
        <div class="limit">
        <!-- Course -->
        <div class="news">
                <ul class="news-list">
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="news-title">course</span>
                        <span class="num">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        <div class="course">
            <!-- <h2>Course</h2> -->
            <div class="intr">
                <a href="#"><img src="/static/CourseShow/images/4.jpg"></a>
                <span class="title">Course</span><br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>


                <br>
                <br><br>
                <div class="couvideo" id="couvideo">
                        <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none" width="640" height="264" poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
                        <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                        <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                        <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
                        <track kind="captions" src="../shared/example-captions.vtt" srclang="en" label="English"></track>
                        <!-- Tracks need an ending tag thanks to IE9 -->
                        <track kind="subtitles" src="../shared/example-captions.vtt" srclang="en" label="English"></track>
                        <!-- Tracks need an ending tag thanks to IE9 -->
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                        </video>
                 </div>
            </div>
            
            <div class="clear"></div>
        </div>
         <br>
            <br>
            <br>
        </div>
       
        <div class="contact">
            <div class="title-contact">Contact Us</div>
            <div class="line-con"><div class="line"></div></div>
            <div class="intr-contact">
                <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</span>
                </p>
            </div>
            <div id="u189" class="ax_default primary_button" data-label="send">
                <div id="u190" class="text" style="visibility: visible;">
                  <p><span>SEND US A MESSAGE</span></p>
                </div>
            </div>
            <div id="u193" class="ax_default ax_default_hidden contact-hidden" data-label="contact " style="display: none; visibility: hidden;">
                <div class="input-container">
                    <div id="u196" class="ax_default text_field">
                        <input id="u196_input" type="text" placeholder="&nbsp;Your name."/>
                    </div>
                    <div id="u197" class="ax_default text_field">
                        <input id="u197_input" type="text" placeholder="&nbsp;Youemail..."/>
                    </div>
                    <div id="u198" class="ax_default text_field">
                        <textarea id="u198_input" class="text-3" type="text" placeholder="The massage send to us"></textarea>
                    </div>
                    <div id="u199" class="ax_default primary_button send2" data-label="send2">
                        <div id="u199_div" class=""></div>
                        <div id="u200" class="text">
                            <p><span>Send</span></p>
                        </div>
                    </div>
                </div>
                <div id="u201" class="ax_default ax_default_hidden close" data-label="close">
                    <div id="u204" class="ax_default contact-icon primary_button">
                        <img id="u204_img" class="img" src="/static/CourseShow/images/u204.png"/>
                    </div>
                </div>
            </div>
            <div class="hidden-tip" style="visibility: hidden;display: none;">
                <div> 已发送！</div>
            </div>
        </div>
    <script type="text/javascript" src="/static/CourseShow/js/sign-in.js"></script>
    <script type="text/javascript" src="/static/CourseShow/js/contact.js"></script>
    <script type="text/javascript" src="/static/CourseShow/js/wheel1.js"></script>
    <script type="text/javascript" src="/static/CourseShow/js/news.js"></script>
        <footer>@大连理工大学红蚂蚁实验室</footer>
    </body>
</html>