<style>
    #submit{width: 60px;border-radius: 5px; background-color: deepskyblue;border: none; color: white; height: 30px;}
</style>
<div class="main-container" >
    <div style="margin-left: 450px;">
        <form action="/courses/zhangjie_small_add" enctype="multipart/form-data" method="post">
            <table>
                <colsgroup>
                    <col style="width: 120px;">
                    <col style="min-width: 400px;">
                </colsgroup>
                <tr >
                    <td>
                        {% if type_ %}
                            <a href="/courses/major=cptNw/?zjs_id={{ zjsmall.id }}&del=1">DELETE </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if zjsmall %}
                            {{ zj }} - {{ zjsmall }} - 修改
                        <input type="hidden" name="zjs_id" value="{{ zjs_id }}">
                        {% else %}
                            {{ zj }} - 添加子章节
                        {% endif %}
                        <input type="hidden" name="kecheng" value="{{ kecheng }}">
                        <input type="hidden" name="zj" value="{{ zj }}">
                    </td>
                </tr>
            {% if not type_ %}
                <tr >
                    <td>
                        <span>章节名</span>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" placeholder="请输入章节名" style="width: 200px">
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td><span style="color: red">Tips</span></td>
                    <td><span style="color: red">文件不上传则不会进行删除修改</span></td>
                </tr>
            {% endif %}
            {% if not type_ or type_ == 'video' %}
                <tr >
                    <td>
                        <span>章节视频</span>
                    </td>
                    <td>
                        <input type="file" name="video">
                    </td>
                </tr>
                <tr >
                    <td>
                        <span>视频描述</span>
                    </td>
                    <td>
                        <textarea name="video_desc" id="" cols="70" rows="10">{{ zjsmall.video_desc }}</textarea>
                    </td>
                </tr>
            {% endif %}
            {% if not type_ or type_ == 'content' %}
                <tr >
                    <td>
                        <span>章节内容</span>
                    </td>
                    <td>
                        <textarea name="content" id="" cols="70" rows="10">{{ zjsmall.content }}</textarea>
                    </td>
                </tr>
                <tr >
                    <td>
                        <span>图片课件</span>
                    </td>
                    <td>
                        <input type="file" name="pics" multiple="multiple" value="可以选择多个文件">
                    </td>
                </tr>
            {% endif %}
                <tr>
                    <td>
                    </td>
                    <td>
                        <button id="submit" type="submit">提交</button>
                        <button id="submit" type="submit" onclick="showAlert()">取消</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="model-alertInfo" id="model-alertInfo" style="display: none;">
            <div class="model-container" style="opacity: 0.2; top: 29%;">
                <div class="model-head">
                    <span class="model-title">登 录</span>
                    <i class="fa fa-close"></i>
                </div>
                <div class="model-body">
                    <h3 class="message">邮箱或密码错误</h3><h3>
                </h3></div>
                <div class="model-end">
                    <div class="btn get">确 认</div>
                    <!-- <div class="btn shut">关 闭</div> -->
                </div>
            </div>
        </div>
<script type="text/javascript">
function cancle(){
    alert("你确定要取消添加吗？");
}
</script>
<script type="text/javascript" src="/static/js/alertModel.js"></script>